{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if not user.is_anonymous %}
        <div class="members">
            <h1 class="page-header">Members</h1>
            <div class="row member-row">
            {% for member in members_list %}
                <div class="col-md-3">
                  <a href="{% url 'auth:profile' member.pk %}"><img src="{{ member.profile.image.url }}" style="border-radius: 100%;max-width: 100%;height: 100%;" class="img-thumbnail" alt=""></a>
                  <div class="text-center">
                    {{ member.get_full_name }}
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>
    {% endif %}

{% endblock %}
